body {
    background-color: #BC3540;
    max-width: 1440px;
    margin: 0 auto;

}

.btn1 {
    background-color: #ffffff54;
    border: 0;
    padding: 20px 44px;
    font-size: 48px;
}

.button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.button1 {
    display: flex;
}

.btn-settings {
    background-color: #ffffff54;
    border: 0;
    padding: 30px 94.5px;
    font-size: 64px;
}

.section-right {
    max-width: 600px;
    max-height: 440px;
    border-radius: 15%;
    background-color: #ffffff30;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 160px;
}

.conteiner1 {
    display: flex;
    
}

.text1-conteiner1 {
    font-size: 50px;
}

.text2-conteiner1 {
    font-size: 30px;
}

.section-right-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.conteiner2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.left {
    display: flex;
    gap: 65px;
    align-items: center;
}

.right {
    display: flex;
    justify-content: end;
}

.left1 {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 15%;
    width: 210px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text1-conteiner2 {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text2-conteiner2 {
    font-size: 24px;
}

.div-img {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.images {
    display: flex;
}

.img1 {
    display: flex;
    flex-direction: column;
}